<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Caja</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .btn-producto {
            display: block;
            width: 100%;
            text-align: left;
        }
    </style>
</head>
<body class="bg-gray-100">
<div class="container mx-auto py-8 px-4">
    <h1 class="text-3xl font-bold mb-8">Caja</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="overflow-hidden rounded-lg border border-gray-200">
            <h2 class="text-xl font-semibold bg-gray-200 py-3 px-6">Productos Seleccionados</h2>
            <div class="p-6">
                <div id="productos-seleccionados" class="mt-4 overflow-y-auto max-h-80">
                    <table class="min-w-full divide-y divide-gray-200">
                        <thead>
                        <tr>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Producto
                            </th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Descripción
                            </th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Precio Unitario
                            </th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Cantidad
                            </th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Subtotal
                            </th>
                        </tr>
                        </thead>
                        <tbody id="tabla-productos-seleccionados">
                        </tbody>
                    </table>
                </div>
                <div class="mt-4 text-right">
                    <span class="text-lg font-semibold">Total: $<span id="total-venta">0.00</span></span>
                </div>
            </div>
        </div>
        <div>
            <div class="flex flex-wrap space-x-2">
                <button class="bg-blue-500 text-white rounded-lg py-2 px-4 hover:bg-blue-600 transition duration-300"
                        data-categoria="Cortes de Cerdo">Cortes de Cerdo
                </button>
                <button class="bg-blue-500 text-white rounded-lg py-2 px-4 hover:bg-blue-600 transition duration-300"
                        data-categoria="Cortes de Ternera">Cortes de Ternera
                </button>
                <button class="bg-blue-500 text-white rounded-lg py-2 px-4 hover:bg-blue-600 transition duration-300"
                        data-categoria="Pollo">Pollo
                </button>
                <button class="bg-blue-500 text-white rounded-lg py-2 px-4 hover:bg-blue-600 transition duration-300"
                        data-categoria="Mercadería">Mercadería
                </button>
                <button class="bg-blue-500 text-white rounded-lg py-2 px-4 hover:bg-blue-600 transition duration-300"
                        data-categoria="Insumos">Insumos
                </button>
                <button class="bg-blue-500 text-white rounded-lg py-2 px-4 hover:bg-blue-600 transition duration-300"
                        data-categoria="Bultos">Bultos
                </button>
            </div>
            <h2 class="text-xl font-semibold mb-4">Productos</h2>
            <div id="productos" class="grid grid-cols-1 md:grid-cols-2 gap-4">
            </div>
        </div>
    </div>
    
    <!-- Botones para Método de Pago -->
    <div class="mt-4">
        <h2 class="text-xl font-semibold mb-2">Método de Pago</h2>
        <div class="flex space-x-4">
            <button id="btn-efectivo" class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 transition duration-300">Efectivo</button>
            <button id="btn-tarjeta" class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 transition duration-300">Tarjeta</button>
            <!-- Agrega más botones según necesites -->
        </div>
    </div>
    
    <!-- Botón Completar Venta -->
    <button id="btn-completar-venta"
            class="bg-green-500 text-white py-2 px-4 rounded-lg hover:bg-green-600 transition duration-300 mt-8">Completar
        Venta
    </button>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        console.log('Script cargado');
        const botonesCategoria = document.querySelectorAll('[data-categoria]');
        const contenedorProductos = document.getElementById('productos');
        const contenedorProductosSeleccionados = document.getElementById('tabla-productos-seleccionados');
        const totalVenta = document.getElementById('total-venta');
        let productosSeleccionados = [];
        let metodoPago = '';

        // Escucha clics en botones de categoría
        botonesCategoria.forEach(boton => {
            boton.addEventListener('click', () => {
                const categoria = boton.getAttribute('data-categoria');
                fetch(`/productos/categoria/${categoria}`)
                    .then(response => response.json())
                    .then(productos => {
                        contenedorProductos.innerHTML = '';
                        productos.forEach(producto => {
                            const divProducto = document.createElement('div');
                            divProducto.className = 'bg-white rounded-lg shadow-md p-4';
                            divProducto.innerHTML = `
                                <h3 class="text-lg font-semibold">${producto.nombre}</h3>
                                <p>${producto.descripcion}</p>
                                <p class="text-gray-700">$${producto.precio}</p>
                                <button class="btn-producto bg-green-500 text-white py-2 px-4 rounded-lg mt-2 hover:bg-green-600 transition duration-300">Agregar</button>
                            `;
                            divProducto.querySelector('button').addEventListener('click', () => {
                                agregarProductoSeleccionado(producto);
                            });
                            contenedorProductos.appendChild(divProducto);
                        });
                    })
                    .catch(error => console.error('Error al obtener productos:', error));
            });
        });

        // Función para agregar producto seleccionado
        function agregarProductoSeleccionado(producto) {
            const existeProducto = productosSeleccionados.find(p => p.id === producto.id);
            if (existeProducto) {
                existeProducto.cantidad += 1;
            } else {
                producto.cantidad = 1;
                productosSeleccionados.push(producto);
            }
            renderizarProductosSeleccionados();
            calcularTotal();
        }

        // Función para renderizar productos seleccionados
        function renderizarProductosSeleccionados() {
            contenedorProductosSeleccionados.innerHTML = '';
            productosSeleccionados.forEach(producto => {
                const trProducto = document.createElement('tr');
                trProducto.innerHTML = `
                    <td class="px-6 py-4 whitespace-nowrap">${producto.nombre}</td>
                    <td class="px-6 py-4 whitespace-nowrap">${producto.descripcion}</td>
                    <td class="px-6 py-4 whitespace-nowrap">$${producto.precio}</td>
                    <td class="px-6 py-4 whitespace-nowrap">${producto.cantidad}</td>
                    <td class="px-6 py-4 whitespace-nowrap">$${producto.precio * producto.cantidad}</td>
                `;
                contenedorProductosSeleccionados.appendChild(trProducto);
            });
        }

        // Función para calcular el total de la venta
        function calcularTotal() {
            let total = 0;
            productosSeleccionados.forEach(producto => {
                total += producto.precio * producto.cantidad;
            });
            totalVenta.innerText = total.toFixed(2);
        }

        // Escucha clics en botones de método de pago
        document.getElementById('btn-efectivo').addEventListener('click', () => {
            metodoPago = 'EFECTIVO';
            console.log('Método de pago seleccionado: ', metodoPago);
        });

        document.getElementById('btn-tarjeta').addEventListener('click', () => {
            metodoPago = 'TARJETA';
            console.log('Método de pago seleccionado: ', metodoPago);
        });

        // Escucha clic en botón de completar venta
        document.getElementById('btn-completar-venta').addEventListener('click', () => {
            if (productosSeleccionados.length === 0) {
                alert('No hay productos seleccionados para la venta.');
                return;
            }
            if (!metodoPago) {
                alert('Selecciona un método de pago.');
                return;
            }
            const venta = {
                detallesVenta: productosSeleccionados.map(producto => ({
                    producto: { id: producto.id },
                    cantidad: producto.cantidad,
                    precio: producto.precio
                })),
                metodoPago: metodoPago  // Agrega el método de pago seleccionado
            };
            console.log('Venta a enviar: ', venta);
            fetch('/ventas', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(venta)
            })
                .then(response => response.text())
                .then(mensaje => {
                    alert(mensaje);
                    productosSeleccionados = [];
                    renderizarProductosSeleccionados();
                    calcularTotal();
                    metodoPago = '';  // Reinicia el método de pago después de completar la venta
                })
                .catch(error => console.error('Error al registrar la venta:', error));
        });
    });
</script>
</body>
</html>
